<!DOCTYPE html>
<html>
<head>
    <title>{{ page-title }}</title>
    <meta name="description" content="{{ meta-description }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />

    <!-- Load jQuery & Bootstrap js-->
    <script src="/js/framework/jquery-1.11.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


    <!-- load froala editor -->
    <script src="/js/froala-editor/froala_editor.min.js"></script>
    <link href="/js/froala-editor/css/froala_editor.min.css" rel="stylesheet" type="text/css" />
    <!--<link href="/js/froala-editor/css/froala_style.min.css" rel="stylesheet" type="text/css" />-->
    <!-- Basic formatting for image, video, table, code and quote. -->
    <link href="/js/froala-editor/css/froala_content.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/framework/edit-menu.css" rel="stylesheet" type="text/css" />


    <!-- Facicon.ico links -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- load angular and angular route via CDN -->
    <!--<script src="/js/framework/angular.min.js"></script>-->
    <!--<script src="/js/framework/angular-route.js"></script>-->
    <!--<script src="/js/framework/angular-animate.min.js"></script>-->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400|Old Standard TT:400|Arapey:300' rel='stylesheet' type='text/css'>

    <!-- Page Animations -->
    <!--<script src="/js/anim/page-animations.js"></script>-->

    <!-- add jasny bootstrap -->
    <link rel="stylesheet" href="/js/jasnybs/jasny-bootstrap.min.css">
    <script src="/js/jasnybs/jasny-bootstrap.min.js"></script>

    <!-- HEADER - Custom Scripts -->
    {{{ block "header-scripts" }}}
</head>
<body ng-app="app">

<header>
    <div class="edit-menu{{#if isEditModeOn}} edit-mode{{/if}}">
        <a href="javascript:void(0)" data-toggle="offcanvas" data-target="#cmsMenu" data-canvas="body">
            <img src="/css/images/menu-bars.svg" />
        </a>
    </div>
    <nav id="cmsMenu" class="navmenu navmenu-fixed-left offcanvas" role="navigation">
        <div class="nav-logo text-center">
            NodeJS CMS
        </div>
        <ul class="nav navmenu-nav">
            {{#if isEditModeOn}}
                <li><a href="../{{ view }}"><i class="fa fa-eye fa-lg"></i>&nbsp;View Page</a></li>
                <li><a href="javascript:void(0)" onclick="SavePage()"><i class="fa fa-floppy-o fa-lg"></i>&nbsp;Save Page</a></li>
            {{/if}}
            {{#unless isEditModeOn}}
                <li><a href="{{ view }}/edit"><i class="fa fa-pencil-square-o fa-lg"></i>&nbsp;Edit Page</a></li>
            {{/unless}}
        </ul>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-top navbar-minimal">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Adam Johnstone</a>
            </div>

            <ul class="nav navbar-nav navbar-right navbar-collapse collapse">
                <li><a href="/pages/about-me"><i class="fa fa-child"></i>&nbsp;About Me</a></li>
                <li><a href="/blog"><i class="fa fa-comments-o"></i>&nbsp;Blog</a></li>
                <li><a href="/shop"><i class="fa fa-shopping-cart"></i>&nbsp;Shop</a></li>
                <li><a href="/pages/contact-me"><i class="fa fa-envelope-o"></i>&nbsp;Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

{{{ body }}}

<!-- LOAD - Custom Scripts -->
{{#block "footer-scripts"}}
{{/block}}
<!-- END - Custom Scripts -->

<script>
    $(document).ready(function() {
        $('div.spa-editor').editable({
            inlineMode: true,
            countCharacters: false
        })
    });

    function SavePage(action)
    {
        var pageContent = {
            content : []
        };

        $('div.spa-editor').each(function() {
            var contentName = $(this).attr('data-name');
            var contentHTML = $(this).editable('getHTML', false, false);
            var contentNode = {
                name : contentName,
                content : contentHTML
            };

            pageContent.content.push(contentNode);
        });

        $.post('./save/', pageContent, function(data, status) {
            if(status !== 'success')
            {
                alert(data);
            }

            $("#cmsMenu").offcanvas('hide');

            if(action.toUpperCase() === 'VIEW')
            {
                window.location = '../{{ view }}';
            }
        });
    }
</script>

</body>
</html>