{{#contentFor "header-scripts"}}

    <link rel="stylesheet" href="/css/landing-test-1.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,700|Playfair+Display' rel='stylesheet' type='text/css'>

    <script>
        function editwiki(slug) {
            window.location.href = '/wiki/{{slug}}/edit';
        }

        function clearbc() {
            localStorage.removeItem('breadcrumbs');
            $('.crumbs').html('');
        }

        function getbreadcrumbs() {

            var bc = ['home'];

            if(!localStorage['breadcrumbs']) {
                localStorage['breadcrumbs'] = JSON.stringify(bc);
            }
            else {
                bc = JSON.parse(localStorage['breadcrumbs']);
            }

            //push new page into breadcrumbs (if this breadcrumb doesn't exist) & check if length > 5 (remove all trailing)
            if($.inArray('{{slug}}', bc) == -1) {
                bc.push('{{slug}}');
            }

            if(bc.length > 5) {
                bc = bc.slice(bc.length - 5);
            }

            //save new localstorage
            localStorage['breadcrumbs'] = JSON.stringify(bc);

            var bcHtml = '';
            for(var i=0; i < bc.length; i++) {
                bcHtml += '<a href="/wiki/' + bc[i] + '">' + bc[i] + '</a>&nbsp;&gt;&nbsp;';
            }
            bcHtml = bcHtml.substr(0, bcHtml.length - 16);

            //send bc html to control
            $('.crumbs').html(bcHtml);
        }

        $(document).ready(function() {
            getbreadcrumbs();
        });


    </script>

{{/contentFor}}

<section class="article p140">
    <div class="container">
        <div class="breadcrumbs">
            <span class="crumbs"></span>
            <a href="#" onclick="clearbc()">[clear]</a>
        </div>
        <article>
            <header><h1 class="section-header">{{{ article-title }}}</h1></header>
            <p>{{{ article }}}</p>
        </article>
    </div>
</section>
