{{#contentFor "header-scripts"}}

    <!-- Angular JS / Spreadsheets -->
    <!--<script src="/{{spa.id}}/app.js"></script>-->
    <link rel="stylesheet" href="/css/blog-style.css">
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>-->


    <!-- add jasny bootstrap -->
    <link rel="stylesheet" href="/js/jasnybs/jasny-bootstrap.min.css">
    <script src="/js/jasnybs/jasny-bootstrap.min.js"></script>

{{/contentFor}}

<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main" class="container container-sml" ng-controller="blogController">

    <div class="view-slide-in">
        <div>
            <h1 class="text-center">Blog</h1>
            <hr class="hr--small">
            <div class="content">

                {{#each blogs}}
                    <div class="blog-article">
                        <div class="row">
                            <div class="col-md-8">
                                <h1><a href="/blog/{{ this.slug }}">{{ this.title }}</a></h1>
                                <p class="author">by <a target="_self" href="/pages/about-me">{{ this.author }}</a>&nbsp;&nbsp;&nbsp;&nbsp;{{ this.publishDate }}</p>
                                <p class="readMore">{{ this.readMore }}... <a href="/blog/{{ this.slug }}">Read More</a></p>
                            </div>

                            <div class="col-md-4">
                                <a href="/blog/{{ this.slug }}">
                                    <img class="featuredImage" src="{{ this.featuredImage }}" width="100%" />
                                </a>
                            </div>

                        </div>
                    </div>
                {{/each}}

                <!--<div class="blog-article" ng-repeat="b in blogs">-->
                    <!--<div class="row">-->

                        <!--<div class="col-md-8">-->
                            <!--<h1><a ng-href="/blog/\{{b.slug}}" ng-bind="b.title"></a></h1>-->
                            <!--<p class="author">by <a target="_self" href="/pages/about-me">\{{ b.author }}</a>&nbsp;&nbsp;&nbsp;&nbsp;\{{ publishDate }}</p>-->
                            <!--<p class="readMore">\{{ readMore }}... <a href="/blog/\{{ b.slug }}">Read More</a></p>-->
                        <!--</div>-->

                        <!--<div class="col-md-4">-->
                            <!--<a href="/blog/\{{ b.slug }}">-->
                                <!--<img class="featuredImage" ng-cloak ng-src="\{{ b.featuredImage }}" width="100%" />-->
                            <!--</a>-->
                        <!--</div>-->

                    <!--</div>-->

                <!--</div>-->
            </div>
        </div>
    </div>

</div>


